@model EFCUTY_ASP_2022231.Models.Post

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label><br/>
                <textarea class="form-control" name="Content" rows="3">@Model?.Content</textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <input type="hidden" name="subjectCode" value="@Model.SubjectCode" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href=@Url.Action("Index", "Posts", new {subjectCode = Model.SubjectCode})>Back to List </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
